* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #f4f6f8;
    color: #333;

}

.container{
    // ativar o flexbox aqui
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 40vw;
    height: 70vh;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.formulario {
    background-color: white;
    // border: solid;
    width: 40vw;
    height: 70vh;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.formulario {
    // border: solid;
    padding: 3rem;
    width: 40vw;
    height: 70vh;
    background-color: white;
    // max-width: 500px;
    h1{
        color: #0052cc;
        margin-bottom: 0.5rem;
    }

    p{
        // margin-bottom: 2rem;
        margin-bottom: 1.5rem;
    }

    form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 0.3rem;
        }

        input {
            padding: 0.8rem;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 1.2rem;
            outline: none;
        }
        
        button{
            background-color: #0052cc;
            color: white;
            border: none;
            padding: 0.9rem;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;
        }
        .cadastro {
            text-align: center;
            // margin-top: 1rem;
            margin-top: 0.5rem;
            font-size: 0.9rem;
            
            a{
                color: #0052cc;
                text-decoration: none;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// Responsividade
// @media (media query)

@media(max-width: 700px) {
    img {
        display: none;
    }
    .formulario{
        padding: 2rem;
        width: 80vw;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;

        h1{
            text-align: center;
        }
        
        p{
            text-align: center;
        }
    }
}

